$main-color: #65990c;
$icon-color: #9db30e;
$btn-color: #69a404;
$main-font-family: 'Tajawal';
$main-bg: #0a0806;
$dark-bg: #1a1918;
$comments-bg: #f4f4f4;
$white: #FFF;
$text-color: $white; 
$singleRecordCardBorder : #707070