.carousel {
  &-content {
    position: absolute;
    left: 5rem;
    right: 5rem;
    bottom: 5.4rem;

    h2 {
      font-size: 2.85rem;
      font-weight: bold;
      margin-bottom: 1.8rem;
    }

    .register-now-btn {
      font-size: 1.2rem;
      font-weight: 600;
      background-color: $main-color;
      padding: 0.5rem 1.5rem;
      color: $white;
      border-radius: 0.3rem;
    }

    .register-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(to left, #192606 -2%, #395709 102%);
      padding: 1rem 2rem;

      p {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
      }

    }
  }

  &-indicators {
    position: static;
    justify-content: flex-start;
    margin: 3rem 0 1.8rem 0;

    button[data-bs-target] {
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }
  }
}