.footer {
    display: flex;
    justify-content: space-between;
    padding: 3em;

    &-start {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &-links {
            display: flex;
            justify-content: space-between;
            column-gap: 8em;
            &-col {
                &-header {
                    font-size: 1.85em;
                    font-weight: 600;
                    margin-bottom: 1.4em;
                    text-align: center;
                }

                ul {
                    list-style-type: none;
                    padding: 0;

                    li {
                        margin-bottom: .7em;
                        text-align: center;
                        color: $main-color;

                        a {
                            color: $main-color;
                            text-decoration: none;
                        }
                    }
                }

                &:last-child {
                    ul {
                        font-size: 21px;
                    }
                }
            }
        }

        &-support {
            p {
                font-size: 1.28em;
                color: $main-color;
                font-weight: 600;
                margin-bottom: .6em;
            }
            &-logos {
                display: flex;
                justify-content: space-between;
                font-size: 1.5em;
            }
        }

    }
    &-end {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &-logo {
            h2 {
                font-size: 4.4em;
            }
        }
        &-social {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            &-logos {
                display: flex;
                justify-content: space-between;
                font-size: 1.5em;
                margin-bottom: 1.5em;
            }
            p {
                font-size: .8em;
                color: $main-color;
            }
        }
    }
}