.home-section {
    display: flex;
    overflow-x: hidden;
    column-gap: 2.5rem;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-title {
            font-size: 2rem;
        }
        &-action {
            font-size: 1.5rem;
            color: $text-color;
        }
    }
}