.home-section {
    margin-bottom: 10em;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.85em;

        &-title {
            font-size: 2em;
        }

        &-action {
            font-size: 1.5em;
            color: $text-color;
        }
    }

    &-content {
        display: flex;
        overflow-x: hidden;
        column-gap: 2.5em;
    }
}