.home-subscribe {
    padding: 6.5em 2em;
    background-color: #333;;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-text {
        font-size: 2.85em;
        margin: 0;
        margin-bottom: 2em;
    }
    &-input-group {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    &-input {
        height: 50px;
        border-radius: .85em;
        font-size: 20px;
        border: none;
        outline: none;
        padding: .25em 1em;
        width: 470px;
    }
    &-send-btn {
        background-color: $main-color;
        font-size: 2em;
        border-radius: .715em;
        margin-inline-start: -40px;
        color: $white;
        height: 50px;
        padding: .25em 2.85em;
    }
}