.navigation-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-bottom: 3rem;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 3.5rem;
  left: 0;
  width: 100%;
  li {

    a {
      display: inline-block;
      font-size: 1.5rem;
      text-decoration: none;
      color: $white;
      padding: 1rem 1.5rem;
      border-bottom: 1px solid var(--border-color);
      &.active {
        border-bottom: 2px solid var(--main-btn-bg);
        color: var(--main-btn-bg);
        font-weight: 600;
      }
    }
  }
}