.navigation-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-bottom: 3rem;
  align-items: flex-end;
  li {

    a {
      display: inline-block;
      font-size: 1.5rem;
      text-decoration: none;
      color: $white;
      padding: 1rem 1.5rem;
      border-bottom: 1px solid #707070;
      &.active {
        border-bottom: 2px solid $main-color;
        color: $main-color;
        font-weight: 600;
      }
    }
  }
}