.quran {
  &-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
  }

  &-content {
    display: flex;
    column-gap: 2rem;
    text-align: center;
  }

  

  &-navigator {
    position: sticky;
    top: 0;
    width: 20%;
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2rem;
    background-color: var(--post-bg);
    padding: 1rem;
    overflow-y: auto;
    height: 100vh;

    &-surah {
      display: flex;
      column-gap: 2rem;
      cursor: pointer;
      padding: 1rem;
      width: 100%;

      p {
        font-family: var(--quran-font-family);
      }
      
      &.active {
        background-color: var(--main-bg);
        font-weight: 600;
        border-radius: 4rem;
        span {
          font-family: var(--quran-font-family);
        }
      }
    }
  }

  &-view {
    width: 30%;
    margin: 0 auto;

    &-page-seprator {
      margin: 1rem 0;
      opacity: 0.5;
      p {
        font-size: 1.25rem;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
      }
    }

    &-surah {
      font-size: 2rem;
      text-align: justify;
      text-transform: none;
      font-family: var(--quran-font-family);

      span {
        display: inline-block;
        width: 2rem;
        height: auto;
        vertical-align: middle;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        padding: 5px 0;
        margin: 0.2rem;
        background: url("../../images/ayah.png");
        background-size: contain;
        background-repeat: no-repeat;
        font-family: Arial, Helvetica, sans-serif;
      }

      &-openning {
        text-align: center;
        margin-bottom: 2rem;
        font-family: var(--quran-font-family);
      }

      &-name {
        text-align: center;
        font-weight: bold;
        font-family: var(--quran-font-family);
        margin: 10px 0;
        font-size: 2.5rem;
      }
    }
  }
}
