button {
    border: none;
    font-family: $main-font-family;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
.listen-btn {
    border: 1px solid $singleRecordCardBorder;
    width: 100%;
    background-color: transparent;
    padding: .7em;
    text-align: center;
    color: $singleRecordCardBorder;
}

