.listen-btn {
    border: 1px solid $singleRecordCardBorder;
    width: 100%;
    background-color: transparent;
    padding: .7rem;
    text-align: center;
    color: $singleRecordCardBorder;
    cursor: pointer;
    font-family: $main-font-family;
}