@import './typography';
@import './buttons';

body {
    background-color: $main-bg;
    color: $text-color;
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: $main-font-family;
}

html {
    font-size: 14px;
}
