@media screen and (max-width: 992px) {
  html {
    .container-fluid {
      --bs-gutter-x: 8rem;
    }

    font-size: 13px;
  }

  // Quran
  .quran {
    &-navigator {
      width: 25%;
    }

    &-view {
      width: 75%;
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    .container-fluid {
      --bs-gutter-x: 5rem;
    }

    font-size: 11px;
  }

  // Footer
  .footer {
    flex-direction: column;
    row-gap: 3rem;

    &-start {
      align-items: center;

      &-links {
        flex-direction: column;
        row-gap: 3rem;
      }
    }

    &-end {
      row-gap: 2rem;
    }
  }

  // Quran
  .quran {
    &-content {
      flex-direction: column;
      align-items: center;
    }

    &-navigator {
      display: none;
    }

    &-mobile-navigator {
      display: block;
    }

    &-view {
      width: 100%;
    }
  }

  // popup
  .black-block {
    width: 100vw !important;
  }
}

@media screen and (max-width: 567px) {
  html {
    .container-fluid {
      --bs-gutter-x: 0;
    }

    font-size: 10px;
  }

  // Home Subscribe
  .home-subscribe {
    &-input-group {
      flex-direction: column;
      row-gap: 1rem;
    }

    &-input {
      width: 100%;
    }

    &-send-btn {
      margin: 0;
      width: 100%;
    }
  }

  // Carousel
  .carousel {
    &-item {
      &:not(:first-child) {
        display: none;
      }
    }

    &-content {
      left: 1.9rem;
      right: 1.9rem;

      .register-now-btn {
        margin-bottom: 1.8rem;
      }
    }

    &-indicators {
      display: none;
    }

    .register-bar {
      display: none;
    }
  }
  .profile-header-following {
    padding: 1rem 5rem;
  }

  .content {
    width: 95vw;
    max-width: 100vw;
  }

  .audio-source {
    width: 80vw;
  }

  .add-new-record-buttons {
    flex-direction: column;
    justify-content: space-between;
    column-gap: 0;
    row-gap: 1rem;
  }

  // Quran
  .quran {
    &-view {
      &-surah {
        width: 80%;
      }
    }
  }

  .audio-record {
    audio {
      max-width: 21rem;
    }
  }
}
