@media screen and (max-width: 992px) {
  // Quran
  .quran {
    &-navigator {
      width: 35%;
    }
    &-view {
      width: 65%;
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 11px;
  }

  // Footer
  .footer {
    flex-direction: column;
    row-gap: 3rem;

    &-start {
      align-items: center;

      &-links {
        flex-direction: column;
        row-gap: 3rem;
      }
    }

    &-end {
      row-gap: 2rem;
    }
  }

  // Quran
  .quran {
    &-content {
      flex-direction: column;
      align-items: center;
    }

    &-navigator {
      display: none;
    }

    &-mobile-navigator {
      display: block;
    }

    &-view {
      width: 75%;
    }
  }
}

@media screen and (max-width: 567px) {
  html {
    font-size: 10px;
  }

  // Home Subscribe
  .home-subscribe {
    &-input-group {
      flex-direction: column;
      row-gap: 1rem;
    }

    &-input {
      width: 100%;
    }

    &-send-btn {
      margin: 0;
      width: 100%;
    }
  }

  // Carousel
  .carousel {
    &-item {
      &:not(:first-child) {
        display: none;
      }
    }

    &-content {
      left: 1.9rem;
      right: 1.9rem;

      .register-now-btn {
        margin-bottom: 1.8rem;
      }
    }

    &-indicators {
      display: none;
    }

    .register-bar {
      display: none;
    }
  }

}